
extends layout


block content
	.d-flex.justify-content-center
		.d-flex.align-items-start.flex-column.login-container
			.mb-auto(style="width: 100%")
				div.app-title 
					| Guest visits
					br 
					| counter
				div 
					.counter-block
						.counter-content
							= total
				div
					.app-footer Thanks for visiting!
						
					
			


			




